<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studypoem.wgjuh.byheart">
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".StudyPoem"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ListPoems"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ListPoets"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ListFavorites"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".NewText"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>