<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wgjuh.byheart.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.wgjuh.byheart.TabbedActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wgjuh.byheart.NewAuthorActivity"
            android:label="@string/title_activity_new_author"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.wgjuh.byheart.NewPoemActivity"
            android:label="@string/title_activity_new_poem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.wgjuh.byheart.StudyPoem"
            android:label="@string/title_activity_study_poem"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>